@model Gighub.Models.ViewModels.GigsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.Heading</h1>
<ul class="gigs mt-4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>

            <div class="details">
                <span class="artist">
                    @gig.Artist.FirstName @gig.Artist.LastName

                    @if (Model.ShowActions)
                    {
                        <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-light btn-sm float-right js-toggle-attendance">Going?</button>
                }
            </div>
        </li>
    }
</ul>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


@section scripts
{
    <script>
        $(document).ready(function () {

            $(".js-toggle-attendance")
                .click(function(e) {
                    var button = $(e.target);
                    $.ajax({
                        url: "/api/v1/attendances/",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ "gigId": parseInt(button.attr("data-gig-id")) }),
                        dataType: "json"
                        })
                        .done(function() {
                            button
                                .removeClass("btn-light")
                                .addClass("btn-danger")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });

            $(".js-toggle-follow")
                .click(function(e) {
                    var button = $(e.target);
                    $.ajax({
                        url: "/api/v1/followings",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ "followeeId": button.attr("data-user-id") }),
                        dataType: "json"
                        })
                        .done(function() {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });

            //$(".js-toggle-follow").click(function (e) {
            //    var button = $(e.target);
            //    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
            //        .done(function () {
            //            button.text("Following");
            //        })
            //        .fail(function () {
            //            alert("Something failed");
            //        });
            //});
        });
    </script>
}
